@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";
*{
  box-sizing:border-box;
  padding: 0%;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}
.cardBackground:hover{
  background: 
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) border-box;
  border: 2px solid transparent;
}

.button {
  box-sizing: border-box;
  position: relative; /* Needed for ::before positioning */
  background: 
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) border-box;
  border: 2px solid transparent;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: 500;
  color: #111827;
  cursor: pointer;
  font-size: 22px;
  width: fit-content;
  z-index: 1;
  overflow: hidden;
  font-size: clamp(16px,2vw,24px);
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  filter: blur(12px);
  opacity: 0;
  transition: opacity 0.8s ease;
  z-index: -1;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: 7px;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.button:hover::before {
  opacity: 1;
}
.button:hover::after {
  opacity: 0.4;
}

.button:hover {
  color: #000;
}



.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* cards won't shrink below 300px */
  gap: 24px; /* fixed space between cards */
  padding: 60px 210px 96px;
  background-color: #FEFEFE;
  justify-content: start; /* ensures cards start from left */
}

.outter{
  padding: 60px 190px 50px;
  background-color: #FEFEFE;
}

@media (max-width: 1024px) {
  .gridContainer {
    padding: 40px 90px 64px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;
  }
  .outter{
    padding: 30px 80px 24px;
  }
}
@media (max-width: 764px){
  .gridContainer {
    padding: 40px 85px 64px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;
    justify-content: center;
  }
  .outter{
    padding: 24px 32px;
  }
}